<!--<h1>My First Attribute Directive</h1>-->

<!--<p appHighlight>简单的属性型指令</p>-->

<!--<h4>Pick a highlight color</h4>-->
<!--<div>-->
<!--  <input type="radio" name="colors" (click)="color='lightgreen'">Green-->
<!--  <input type="radio" name="colors" (click)="color='yellow'">Yellow-->
<!--  <input type="radio" name="colors" (click)="color='cyan'">Cyan-->
<!--</div>-->

<!--<p appHighlight [highlightColor]="color">简单的属性型指令 + 输入型指令组合</p>-->

<!--<p [appHighlight]="color">最终指令</p>-->

<!--<p [appHighlight]="color" defaultColor="violet">-->
<!--  使用多个属性型指令-->
<!--</p>-->

<!--<h2 id="appUnless">UnlessDirective</h2>-->
<!--<p>-->
<!--  The condition is currently-->
<!--  <span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': true }">{{condition}}</span>.-->
<!--  <button-->
<!--    (click)="condition = !condition"-->
<!--    [ngClass] = "{ 'a': condition, 'b': !condition }" >-->
<!--    Toggle condition to {{condition ? 'false' : 'true'}}-->
<!--  </button>-->
<!--</p>-->

<!--<p *appUnless="condition" class="unless a">-->
<!--  (A) This paragraph is displayed because the condition is false.-->
<!--</p>-->

<!--<p *appUnless="!condition" class="unless b">-->
<!--  (B) Although the condition is true,-->
<!--  this paragraph is displayed because appUnless is set to false.-->
<!--</p>-->

<!--<ng-template [appUnless]="condition">-->
<!--  <p class="code unless">-->
<!--    使用模版语法验证结构型指令-->
<!--  </p>-->
<!--</ng-template>-->

<!--<h4>UnlessDirective with template</h4>-->

<!--<p *appUnless="condition">Show this sentence unless the condition is true.</p>-->

<!--<p *appUnless="condition" class="code unless">-->
<!--  (A) &lt;p *appUnless="condition" class="code unless"&gt;-->
<!--</p>-->

<!--尝试用做结构型指令-->
<!--<ng-template [appHighlight]="color">-->
<!--  <p >template包裹</p>-->
<!--</ng-template>-->

<!--<p *appHighlight="color">星号语法糖</p>-->

<!--ngIf-->
<!--<div *ngIf="condition; then thenBlock else elseBlock"></div>-->
<!--<ng-template #thenBlock>Content to render when condition is true.</ng-template>-->
<!--<ng-template #elseBlock>Content to render when condition is false.</ng-template>-->

<!--<p [appUseHostBing]="'使用HostBinding装饰器修改innerText'">HostBinding装饰器</p>-->


<!--<h4>Pipe Study</h4>-->
<!--<app-fly-heros></app-fly-heros>-->

<!--<h4>Async Pipe</h4>-->
<!--<app-async-hero-message></app-async-hero-message>-->

<h4>Fetch Json Pipe</h4>
<app-fetch-json></app-fetch-json>
